body{
 margin:0;
  background-color: #ccf;
}

.header{
	width: 100%;
	height: 90px;
	background-Color: #6F3;
	box-shadow: 1px 1px 3px#000;
}
#contents {
	background-color:#fFF;
	
	display: inline-block;
	width:100%;
	margin-bottom: 30px;
	padding: 10px 0 0;
	
}
#contents .sidebar {
  float: left;
  min-height: 390px;
  max-height:400px
  border-right: 1px solid #f2cc3d;
  margin: -19px 40px 0 30px;
  padding: 20px 0 0;
  overflow:auto;
}
#contents .reminder {
  float: right;
  min-height: 390px;
  max-height:400px
  border-radius: 20px;

	border: 1px rgb(89,89,89) solid;
	
	padding: 3px;
	
	color: rgb(25,25,25);
	
	text-align: center;
	
	line-height: 1.3em;
	text-shadow: 0px 1px 1px rgb(89,89,89);
	
	-moz-box-shadow:  1px 1px 6px 4px rgb(128,128,128);
	-webkit-box-shadow:  1px 1px 6px 4px rgb(128,128,128);
	box-shadow:  1px 1px 6px 4px rgb(128,128,128);
 
}


h1{
  background-color:#CCF; 
  font-family:helvetica;
  font-size: 1.4em;
  color:#FFF;
}
.title{
  background-color: #00C; 
 font-family: Verdana;
  font-size: 12px;
  color :#fff;
}
.property{

}

.property li{
  float:left;
  width:200px;
  background-color: #09F;
  border-bottom: 1px solid white;
  border-radius: 2px;box-shadow: 5px 5px 5px black;
}
.property li: hover{
  
  border-radius: 5px;box-shadow: 10px 10px 5px black;
}

.property li:first-child{
  float:left;
  width:100px;
  background-color: #eee;
}

.reminder .property li:first-child{
  float:left;
  width:100px;
  background-color: #fff;
}
.reminder .property li{
  float:left;
  width:200px;
  background-color: #39F;
  border-bottom: 1px dotted #009900;
  border-left:1px dotted #009900;
  border-radius: 3px;
  
}


.reminder .Events{
  border: 2px solid black;
  font-family: Verdana, Geneva, sans-serif;
  font-size:11px;
  background-color:#000;
  box-shadow: 1px px 10px black;
 
}
.Events{
  border: 2px solid #0F0; 
  font-family: Verdana, Geneva, sans-serif;
  border-radius:10px;
  background-color:#000;
  box-shadow: 10px 10px 10px black;
  float:left;
}

#show{
  margin:40px 10px 10px;
  float:left;
 
}



#edit{
    width:32px;
}
#warning-title{
	color:red;
	font-size:10px;
}
